$PrimaryColor: #F6A315;
$GreyBackgroundColor: #EFEFF4;
$SecondaryText: #A6A6Ab;
$largeScreenSize: 1200px;
$mediumScreenSize: 992px;
$mobileScreenSize: 768px;
$smallScreenSize: 450px;

html {
  zoom: 100%;
}

.page {
  position: relative;
}

#top-banner-mobile {
  @media only screen and (min-width: $mobileScreenSize) {
    display: none !important;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background-color: #000;

  > * {
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
  }

}

#top-banner {
  @media only screen and (max-width: $mobileScreenSize) {
    display: none !important;
  }

  .store-name {
    display: flex;
    width: 10px;
    height: 10px;
    border: #34aadc;
  }
  

  height: 0px;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 30px 50px 60px;

  .logo-container {
    display: flex;
    height: 100%;
    align-items: center;

    .logo {
      max-height: 100px;
      width: 60px;
      border-radius: 25px;
      margin-top: 25px;
      margin-left: -30px;
      border: 2px solid #66100d;

      &:hover {
        border: 3px solid burlywood;
      }

    }

   
  }

  @media only screen and (max-width: $largeScreenSize) {
    padding: 20px 30px 50px 50px;
    .logo-container {
      align-items: flex-start;

      .logo {
        max-height: 70px;
      }
    }
  }
  @media only screen and (max-width: $mediumScreenSize) {
    padding: 20px 30px 50px 30px;

    .logo-container .logo {
      max-height: 50px;
    }
  }

  .nav-bar {
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 0px;

    .auth-links {
      padding: 5px;
      border-radius: 25px;
      background-color: rgba(165, 42, 42, 0);
      display: flex;
      align-items: center;
      margin: 0px 0px 0px 30px;

      > button, > a {
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 25px;
        font-size: 17px;
        font-weight: 600;
        width: 158px;
        text-align: center;
        text-decoration: none;
        color: #66100d;
        background-color: rgb(233,117,8);
        border: 1px solid #F7B23D !important;

        &.fill {
          color: rgb(233,117,8);
          margin-right: 5px;
          background-color: #66100d !important;
          background: linear-gradient(to right, rgba(255, 255, 255, .20), transparent);

          &:active {
            background: linear-gradient(to right, rgba(255, 255, 255, 0), transparent);
          }
        }
      }

      @media only screen and (max-width: $largeScreenSize) {
        > button {
          width: auto;
          padding: 7px 30px;
        }
      }
    }

    .auth-links-myaccount {
      padding: 5px;
      border-radius: 25px;
      background-color: rgb(233,117,8);
      font-size: 17;
      color: #66100d;
      width:158px;
      font-weight: 600;
      border: 1px solid #F7B23D;
      display: flex;
      align-items: center;
      margin: 0px 0px 0px 30px;
      margin-top: -10px;

      > button, > a {
        padding-top: 7px;
        padding-bottom: 10px;
        border-radius: 25px;
        font-size: 17;
        font-weight: 600;
        width: 330px;
        text-align: center;
        text-decoration: none;
        color: rgb(246, 163, 21);
        background-color: #dfc7c6f6;

        &.fill {
          color: #FFFFFF;
          margin-right: 5px;
          background-color: rgb(246, 163, 21) !important;
          background: linear-gradient(to right, rgba(255, 255, 255, .20), transparent);

          &:active {
            background: linear-gradient(to right, rgba(255, 255, 255, 0), transparent);
          }
        }
      }

      @media only screen and (max-width: $largeScreenSize) {
        > button {
          width: auto;
          padding: 7px 30px;
        }
      }
    }


  }

  .category-btn {
    display: none;
    margin-right: 20px;
    cursor: pointer;
    

    img {
      height: 40px;
    }
  }

  @media only screen and (max-width: 992px) {
    .category-btn {
      display: block;
    }
  }

}

#account-top-banner, #top-banner {
  .order-btn {
    display: none;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
    }
  }

  @media only screen and (max-width: $largeScreenSize) {
    .order-btn {
      display: flex;
    }
  }
}

#account-top-banner {
  height: 30px;
  background-size: cover;
  background-color: darkorange;
  background-position: top;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0px;
  position: absolute;
  width: 100%;
  z-index: 1;

  .logo-container {
    flex: 1;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0px 0px 0px 100px;
    @media only screen and (max-width: $mobileScreenSize) {
      padding: 0px 0px 0px 30px
    }

    .logo {
      height: 45px;
      width: 45px;
      border-radius: 25px;
    }
  }

  @media only screen and (max-width: $largeScreenSize) {

    .logo-container {
      align-items: flex-start;

      .logo {
        max-height: 34px;
      }
    }
  }


  @media only screen and (max-width: $mediumScreenSize) {
    //padding: 20px 30px 10px 30px;

    .logo-container .logo {
      max-height: 34px;
    }
  }

  .nav-buttons {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 40px 0px 0px;
    margin-top: -10px;
    @media only screen and (max-width: $mobileScreenSize) {
      display: none;
    }

    > a {
      padding: 15px 0px;
      border: 0px;
      border-radius: 25px;
      font-size: 17;
      font-weight: 600;
      border: 1px solid #F7B23D;
      width: 158px;
      color: rgb(233, 117, 8) !important;
      background-color: #66100d;
      text-decoration: none;
      text-align: center;
    }


    @media only screen and (max-width: $largeScreenSize) {
      > button {
        width: auto;
        padding: 7px 30px;
      }
    }


  }

}

#main {

  @media only screen and (min-width: $mobileScreenSize) {

    .mobile {
      display: none !important;
    }

    .normal {
      padding: 15px;
      display: flex;
      margin-top: -50px;
      align-items: flex-start;
      margin-top: 20px;

      > div {
        background-color: #dfc7c600;
        margin-top: 36px;
        border-radius: 10px;
        overflow: scroll;
        overflow-x: hidden;
      }

      ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
      }
    }

    .categories-list {
      //min-width: 280px;
      //width: 100%;
      top: 35px;
      display: relative;
      margin-left: -10px;
      flex-direction: row;
      align-items: center;
      position: relative;
      //min-height: 580px;

      @media only screen and (max-width: $mediumScreenSize) {
        min-width: 16% !important;
        display: none;
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        box-shadow: 1px 0 4px 0 #d6adad;

        &.open {
          display: flex;
        }
      }

      .slide-logo {
        margin-top: 18px;
        height: 50px;
        margin-bottom: 15px;
      }

      ul {
        // padding: 0;
        // width: 90%;
        // margin-top: 10px;
        // margin-bottom: 10px;
        // display: inline-block;
        padding:0;
        margin:0;
        list-style-type:none;
        //width: 100%;

        li {
          // width: 100%;
          // list-style: none;
          // text-align: center;
          // border-bottom: 1px solid #d6adad;
          // height: 90px;
          // display: inline-block;
          margin-left:2px;
          float:left;
          border-radius: 5px;

          button {
            // background-color: transparent;
            // border: 0;
            //text-transform: uppercase;
            // font-size: 16px;
            // width: 100%;
            // height: 100%;
            // padding: 25px 0;
            font-size: 700;
            font-weight: 700;
            font-family: "Gill Sans", sans-serif;
            width:90px;
            display:block;
            float:left;   
            width:100px;
            background-color: darkred;
            color: rgb(8, 8, 8);
            text-decoration:none;
            text-align:center;
            padding:5px;
            margin-left: 60px;
            border:2px solid;
            cursor: pointer;
            height: 70px;
            border-radius: 5px;
            //padding: 14px 28px;
           /*pour avoir un effet "outset" avec IE :*/
            border-color: 2px slid honeydew;

            &:hover {
              // color: lightgrey;
              // background: rgba(109, 3, 3, 0.801);
              // border: 15px solid burlywood;
              background-color: darkorange;
              border:1px solid lightgoldenrodyellow;
            }
          }

          //
          //&:first-child {
          //  button {
          //    font-weight: 900;
          //    color: $PrimaryColor
          //  }
          //}

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }

    .products {
      font-size: 35px;
      flex: 1;
      margin-left: 0px;
      margin-right: calc(22.1667%);
      padding: 20px 20px 100px 20px;
      @media only screen and (max-width: $largeScreenSize) {
        margin-right: 0px;
      }
      @media only screen and (max-width: $mediumScreenSize) {
        margin-left: 0px;
      }

      .filter-bar {
        display: none;
        justify-content: space-between;
        align-items: flex-start;

        > div {
          display: flex;

          &:nth-child(1) {

            .filter-label {
              font-size: 10px;
              color: rgb(100, 8, 8);
              margin-right: 15px;
            }

            .filters {
              display: flex;
              flex-wrap: wrap;

              .filter-item {
                margin-right: 8px;
                cursor: pointer;
                margin-bottom: 10px;

                .label, .close-icon {
                  display: none;
                }

                &.active {
                  width: auto !important;
                  border-radius: 30px;
                  padding: 0 10px 0 7px;
                  background-image: linear-gradient(to right, rgba(255, 255, 255, .20), transparent);
                  background-color: #a57c58;

                  .label {
                    font-size: 18px;
                    display: block;
                    margin-left: 7px;
                    margin-right: 20px;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-weight: 500;
                  }

                  .close-icon {
                    display: block;
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                  }
                }

                &:hover {
                  box-shadow: 0 0 10px 2px #66100d;
                }

                &:last-child {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }

      .search-bar {
        cursor: pointer;
        background-color: $GreyBackgroundColor;
        border-radius: 30px;
        padding-left: 15px;
        font-size: 16px;
        height: 48px;
        &.no-padding{
          padding: 0;
        }
        form{
          display: flex;
          justify-content: center;
          align-content: center;
          input {
            border: 0;
            background-color: transparent;
            font-style: italic;

            &:focus {
              outline: none
            }
          }
        }

      }

      .category-products {
        text-align: center;
        background-color: #3a0e06;
        //box-shadow: 10px 5px 5px brown;;
        //box-shadow: #9B1C24;
        border-radius: 10px;
        width: 100%;
        


        .title {
          font-size: 1.7rem;
          font-weight: 600;
          color: #d3cfcf;
          text-decoration: underline overline;
          text-transform: uppercase;
          margin-bottom: 0;
          
        }
        

        .sub {
          color: orangered;
        }

        .items {
          font-size: 20px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          background-color: darkorange;

          .product-container {
            width: calc(94% / 3);
            margin-bottom: 15px;

            .dummy {
              opacity: 0 !important;
            }

            .product-item {
              font-size: 25px;
              background-color: white;
              cursor: pointer;
              border-radius: .5rem;
              margin-left: 0;
              margin-right: 0;
              box-shadow: 0 0 8px 0 #ccc;

              .product-image {
                width: 100%;
                border-top-left-radius: calc(.25rem - 1px);
                border-top-right-radius: calc(.25rem - 1px);
              }

              .product-info {
                text-align: left;
                padding: 1.25rem;

                .name {
                  text-transform: uppercase;
                  margin: 0 0 12px 0;
                }

                .description {
                  color: $SecondaryText;
                  font-size: 14px;
                  margin: 8px 0;
                  height: 60px;
                }

                div {
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;

                  p {
                    font-weight: 500;
                    margin: 0 5px 0 0;
                    color: $PrimaryColor;
                  }

                  img {
                    width: 20px;
                    height: 24px;
                  }
                }
              }
            }
          }

          .product-horizontal {
            width: calc(97% / 2);
            margin-bottom: 15px;
            .dummy {
              opacity: 0 !important;
            }

          }
        }
      }
    }
  }

  @media only screen and (max-width: $mobileScreenSize) {
    .normal {
      display: none !important;
    }

    .categories-list-mobile {
      width: 100%;

      ul {
        margin: 0;
        padding: 0;

        li {
          background-repeat: no-repeat;
          background-size: cover;
          border-bottom: 2px solid white;
          padding: 10px 15px;
          margin: 0;
          list-style: none;
          color: #FFFFFF;
          font-size: 28px;
          text-transform: uppercase;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          position: relative;

          img {
            width: 30px;
            height: 30px;
          }

          > * {
            z-index: 1;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
          }

          &:nth-child(1) {
            border-top: 2px solid white;
          }
        }
      }
    }

    .products-mobile {

      margin-left: 15px;
      .category-header {
        background-repeat: no-repeat;
        background-size: cover;
        padding: 15px 40px;
        position: relative;
        margin-left: -15px;

        > * {
          position: relative;
          z-index: 1;
        }

        p {
          font-size: 28px;
          text-align: center;
          color: #FFFFFF;
          text-transform: uppercase;
          font-weight: bold;
          //margin: 0px 30px;
          //text-align: center;
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.5);
        }

        .left-btn-container {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          z-index: 1000;

          .back-btn {
            cursor: pointer;
            background-color: #66100d;
            padding: 5px 10px 5px 5px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

            &:hover {
              background-color: #FAFAFA
            }

            img {
              width: 20px;
              height: 15px;
              transform: rotate(180deg);
            }
          }
        }

      }

      .product-horizontal {
        .product-item {
          border-radius: 0;
          box-shadow: none;
          border-bottom: 1px solid #DDDDDD;
        }
      }
    }

    .sidebar {
      position: fixed;
      top: 30px;
      bottom: 0;
      width: 100%;
      z-index: 10000;
      display: none;
      flex-direction: column;

      .content {
        width: 70%;
        background-color: #F0EFF4;
        height: 100%;
      }

      &.sidebar-left {
        left: 0;

        &.open {
          display: flex;

          .top {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            margin-bottom: 20px;

            .auth-links {
              width: 100%;
              padding: 5px;
              border-radius: 25px;
              background-color: #FFFFFF;
              display: flex;
              flex-direction: column;
              align-items: center;

              > button, > a {
                width: 100%;
                padding: 15px 0;
                border: 1px solid rgb(246, 163, 21);
                border-radius: 25px;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                text-decoration: none;
                color: rgb(246, 163, 21);
                background-color: #FFFFFF;

                &.fill {
                  color: #FFFFFF;
                  margin-bottom: 15px;
                  background-color: rgb(246, 163, 21) !important;
                  background: linear-gradient(to right, rgba(255, 255, 255, .20), transparent);

                  &:active {
                    background: linear-gradient(to right, rgba(255, 255, 255, 0), transparent);
                  }
                }
              }

            }

            > p {
              text-transform: uppercase;
            }
          ;

            a {
              padding: 0 45px;
              border: 1px solid $PrimaryColor;
              border-radius: 25px;
              font-size: 14px;
              font-weight: 600;
              color: rgb(246, 163, 21) !important;
              background-color: #FFFFFF;
              text-decoration: none;
              text-align: center;
              text-transform: uppercase;
            }
          }

          .option {
            background-color: #ffffff;
            margin: 20px;
            border-radius: 20px;
            cursor: pointer;

            p {
              margin: 0;
              padding: 15px 20px;
              text-transform: uppercase;
              color: red;
            }
          ;
          }
        }
      }

      &.sidebar-right {
        right: 0;
        align-items: flex-end;

        &.open {
          display: flex;

          .content {
            width: 70%;
            background-color: #FFFFFF;
            height: 100%;
          }

          .search-bar {
            display: flex;
            align-items: center;
            background-color: #EFEFF4;

            input {
              text-decoration: none;
              background-color: #EFEFF4;
              padding: 15px;
              border: 0;
              width: 100%;
              font-style: italic;
              color: #495057;

              &:focus {
                outline: none;
              }
            }

            .icon {
              background-color: white;
              width: 20px;
              height: 20px;
              padding: 5px;
              margin-right: 10px;
              border-radius: 100px;

              > img {
                width: 20px;
                height: 20px;
                cursor: pointer;
              }
            }
          }

          .filters {
            padding: 20px;
            display: flex;
            flex-direction: column;

            .filter-label {
              color: $PrimaryColor;
              font-weight: 700;
            }

            .filter-item {
              display: flex;
              align-items: center;
              cursor: pointer;
              margin-bottom: 10px;

              .close-icon {
                display: none;
              }

              .label {
                flex: 1;
                display: block;
                margin-left: 7px;
                margin-right: 20px;
                text-transform: uppercase;
                color: #B7B7B7;
                font-weight: 700;
              }

              &.active {
                width: auto !important;
                border-radius: 30px;
                background-image: linear-gradient(to right, rgba(255, 255, 255, .20), transparent);
                background-color: $PrimaryColor;

                .circle-icon {
                  background-color: transparent;
                }

                .label {
                  color: #FFFFFF;
                }

                .close-icon {
                  display: block;
                  width: 16px;
                  height: 16px;
                  margin-right: 15px;
                }
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .order-bar {
      cursor: pointer;
      position: fixed;
      bottom: 20px;
      left: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      min-height: 40px;
      background-color: #66100de7;
      border-radius: 25px;
      border: 2px solid #F7B23D;
      padding: 10px;
      z-index: 99;

      .cart-icon {
        background-color: rgba(233, 117, 8, 0.548);
        border-radius: 100%;
        width: 20px;
        height: 20px;
        padding: 5px;
        margin-right: 10px;

        .icon {
          width: 20px;
          height: 20px;
        }
      }

      h2 {
        font-size: 20px;
        margin: 0;
        color: rgb(233, 117, 8);
        flex: 1
      }

      .checkout {
        display: flex;
        align-items: center;

        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .order-modal-mobile {
      display: none;
      

      &.open {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.9);
        scroll-behavior: auto;

        .body {
          background-color: #FFFFFF;
          border-radius: 5px;
          flex: 1;
          margin-bottom: 10px;
          display: flex;


          .order-content {
            width: 100%;
            height: 520px;


            .items {
              font-size: 35px;
              flex: 1;
            }
          }

        }

        .footer {
          min-height: 40px;
          background-color: #66100d;
          border-radius: 25px;
          border: 2px solid #F7B23D;
          display: flex;
          align-items: center;
          padding: 10px;
          cursor: pointer;

          .cart-icon {
            background-color: rgba(233, 117, 8, 0.719);
            border-radius: 100%;
            width: 20px;
            height: 20px;
            padding: 5px;
            margin-right: 10px;

            .icon {
              width: 20px;
              height: 20px;
            }
          }

          h2 {
            font-size: 20px;
            margin: 0;
            color: rgb(233, 117, 8);
            flex: 1
          }

          .checkout {
            display: flex;
            align-items: center;

            img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }

    }
  }

}

#main, #account {
  @media only screen and (max-width: $largeScreenSize) {
    display: block !important;

  }

  .order {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21%;
    border-radius: 10px;
    position: fixed;
    right: 12px;

    @media only screen and (max-width: $largeScreenSize) {
      display: none;
      border-radius: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      box-shadow: 1px 0 4px 0 #696969;

      &.open {
        display: flex;
      }
    }
  }
}

#account {
  padding: 115px 80px 50px 80px;
  display: flex;
  align-items: flex-start;
  background-image:url('../images/welco.jpeg') ;
  background-color: grey;
  background-blend-mode: normal;
  height: 700px;
  @media only screen and (max-width: $mediumScreenSize) {
    padding: 0px;
  }

  .card {
    background-color: #dfc7c6;
    border-radius: 5px;
    min-height: 50px;
  }

  .left-card {
    flex: 2;
    @media only screen and (max-width: $largeScreenSize) {
      margin-right: 0px;
    }

    .welcome {
      padding: 20px;
      margin-left: 220px;

    }

    p {
      margin: 0;
      font-size: 12px;
      color: rgb(233, 117, 8);
      text-align: center;
      font-size: 15px;
    }

    h3 {
      margin: 0 0 5px 0;
      text-align: center;
      text-decoration: underline;
      font-size: 25px;
    }

    h6 {
      margin: 0 0 5px 0;
      text-align: centre;
      font-size: 20px;
      font-weight: 600;
      color:rgb(233, 117, 8);
      text-align: center;
    }

    .bottom-left {
      display: flex;
      flex-direction: row;

      .options {
        margin: 10px 10px 0 0;
        padding: 10px;
        flex: 1.1;
        height: 395px;
        @media only screen and (max-width: $mobileScreenSize) {
          padding: 0px;
        }
        &:hover{
          color: rgb(233, 117, 8);
          background-color: #66100d;
        }

        button {
          background-color: transparent;
          border: 0;
          text-transform: uppercase;
          font-size: 14px;
          width: 100%;
          padding: 25px 0;
          font-weight: 500;
          @media only screen and (max-width: $mobileScreenSize) {
            font-size: 10px;
            padding: 0px;
            display: flex;
            justify-content: center;

           
          }

          &:hover{
            color: rgb(233, 117, 8);
            background-color: #66100d;
            border-radius: 50px;
            border: 2px solid #F7B23D;
          }

          h4 {
            margin: 10px;
            color: #737377;
            @media only screen and (max-width: $mobileScreenSize) {
              display: none;
            }

            &:hover {
              color: rgb(233, 117, 8);
              background-color: #66100d;

            }
          }

          .iconsDivAccount {
            color: #737377;
            display: none;
            padding: 10px;
            background-color: #F9F9FE;
            @media only screen and (max-width: $mobileScreenSize) {
              display: block;
            }

            &:hover {
              color: $PrimaryColor;
            }
          }

          .active {
            color: $PrimaryColor;
            @media only screen and (max-width: $mobileScreenSize) {
              background-color: $PrimaryColor !important;
              color: white;
              border-radius: 20px;
            }
          }
        }
      }

      .detail {
        margin-top: 10px;
        flex: 5;
        padding: 20px;
        border: 2px solid #66100d;

        > h4 {
          margin: 5px;
          color: rgb(233, 117, 8);
          text-transform: uppercase;
          text-align: center;
          font-size: 30px;
        }

        .order-items::-webkit-scrollbar {
          width: 0;
        }

        .order-items {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 20px 0px;
          overflow-y: scroll;
          height: 500px;
          margin-top: -10px;
          @media only screen and (max-width: $mediumScreenSize) {
            display: block;
            flex-flow: column;
            height: 450px;
          }

          .order-horizontal {
            width: calc(97% / 2);
            margin-bottom: 15px;
            @media only screen and (max-width: $mediumScreenSize) {
              width: 100%;
            }
          }

          .order-item {
            background-color: rgb(187, 11, 11);
            cursor: pointer;
            border-radius: .5rem;
            margin-left: 0;
            margin-right: 0;
            box-shadow: 0 0 8px 0 rgb(14, 13, 13);
            height: 220px;

            @media only screen and (max-width: $mediumScreenSize) {
              width: 96%;
            }
          }

          .order-number {
            display: flex;
            justify-content: center;
            width: 100%;
          }

          .oder-sections {
            display: flex;
            justify-content: space-between;
            padding: 0px 40px 30px 40px;
            @media only screen and (max-width: $smallScreenSize) {
              display: block;
              padding: 0px;
            }
            @media only screen and (max-width: $mobileScreenSize) {
              display: flex;
            }
          }

          .order-buttons {
            display: flex;
            justify-content: space-between;
            padding: 20px 80px 40px 80px;
            @media only screen and (max-width: $mediumScreenSize) {
              padding: 5px 20px 5px 20px;
            }
          }

          .button-reorder {
            background-color: #66100d;
            border-radius: 24px;
            padding: 7px;
            color: rgb(233, 117, 8);
            font-size: 16px;
            font-weight: bold;
            border: 1px solid rgb(246, 168, 33);
            margin-top: -50px;
            height: 40px;

            &:hover {
              background-color: white;
              color: #66100d;
            }
            @media only screen and (max-width: $mediumScreenSize) {
              font-size: 10px;
              padding: 4px;
              width: 80px;
              height: 40px;
              border-radius: 25px;
            }
            @media only screen and (max-width: $mobileScreenSize) {
              border-radius: 20px;
              font-size: 9px;
              height: 25px;
              width: 50px;
            }
          }

          .button-details {
            background-color: rgb(233, 117, 8);
            border: 1px solid rgb(246, 168, 33);
            border-radius: 24px;
            padding: 7px;
            font-size: 16px;
            font-weight: bold;
            color: #66100d;
            margin-top: -50px;
            height: 40px;

            &:hover {
              color: #66100d;
              background-color: white;
            }
            @media only screen and (max-width: $mediumScreenSize) {
              font-size: 10px;
              padding: 4px;
              width: 80px;
              height: 40px;
              border-radius: 25px;
            }
            @media only screen and (max-width: $mobileScreenSize) {
              border-radius: 20px;
              height: 25px;
              width: 45px;
            }
          }

          .order-section-details h1 {
            font-weight: 700;
            color: rgb(115, 123, 153);
            font-size: 14px;
            margin: 10px;

          }

          .order-section-details {
            text-align: center;
          }

          .order-number h4 {
            font-size: 17px;
          }

          .pickup {
            background: #5a6164 !important;
            background-image: initial !important;
            background-position-x: initial !important;
            background-position-y: initial !important;
            background-size: initial !important;
            background-repeat-x: initial !important;
            background-repeat-y: initial !important;
            background-attachment: initial !important;
            background-origin: initial !important;
            background-clip: initial !important;
            background-color: rgba(82, 85, 87, 0.863) !important;
            color: rgb(233, 117, 8);
            font-size: 15px;
            font-weight: 600;
            width: 30%;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            text-align: center !important;
            margin-top: 0;
            margin-bottom: 1rem;
            height: 20px;
            @media only screen and (max-width: $mobileScreenSize) {
              margin: 0px;
            }
          }
        }

        .empty {
          display: flex;
          flex-direction: column;
          height: 100%;
          align-items: center;
          justify-content: center;

          p {

            color: #A6A6AB;
          }
        }

        .password {
          width: 50%;
          @media only screen and (max-width: $mobileScreenSize) {
            width: 80%;
          }

          .password-bar {
            background-color: $GreyBackgroundColor;
            border-radius: 30px;
            padding-left: 15px;
            margin-bottom: 20px;
            font-size: 16px;
            height: 48px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            input {
              flex: 1;
              border: 0;
              background-color: transparent;
              font-style: italic;
              @media only screen and (max-width: $mobileScreenSize) {
                font-size: 8px !important;
              }

              &:focus {
                outline: none
              }
            }

            > img {
              width: 27px;
              height: 33px;
              padding-right: 10px;
            }

          }

          .submit-button {
            display: flex;
            flex: 1;
            align-items: center;
            width: 100px;
            margin-left: 30px;

            button {
              padding: 12px;
              border: 1px solid #F7B23D;
              border-radius: 25px;
              font-size: 17;
              font-weight: 600;
              width: 212px;
              color: rgb(233, 117, 8);
              background-color: #66100d;
              text-decoration: none;
              text-align: center;


              &:hover {

                background-color:#FAFAFA;
                color: #66100d;

              }


            }
          }
        }

        .personal-details {
          display: flex;
          @media only screen and (max-width: $mobileScreenSize) {
            display: block
          }

          .info-block {
            padding: 20px;
            display: flex;
            flex: 1;
            align-items: center;

            img {
              width: 32px;
              height: 32px;
            }

            p {
              margin: 0 50px 0 4px;
              font-style: italic;
              text-transform: uppercase;
              color: rgb(233, 117, 8);
            }

            h5 {
              margin: 5px 0 0 20px;
            }
          }
        }
      }
    }
  }

  .order {
    background-color: #FFFFFF;
    margin-left: 10px;
    border-radius: 5px;
  }

}

.circle-icon {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFF4;
  border-radius: 100%;

  .icon {
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #D8D8D8;
    display: flex;
    justify-content: center;
    align-items: center;

    &.no-border {
      border: none;
    }

    img {
      width: 21px;
      height: 21px;
    }
  }
}

.close-tag {
  background-color: #66100d;
  border-radius: 8px;
  // border-bottom-left-radius: 5;
  // border-top-right-radius: 5;
  // border-bottom-right-radius: 5;
  margin-right: 0px;
  width: 32px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0px;
  cursor: pointer;

  &:hover {
    background-color: #dfc7c6;
  }

  img {
    width: 22px;
    height: 22px;
  }
}

.added-modal {
  display: none;
  flex-direction: column;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);

  &.open {
    display: flex;
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 8px;
    background-color: #4CD964;
    padding: 20px 0;

    .green-icon {
      background-color: #4CD964;
      width: 75px;
      height: 75px;
      border: 1px solid #FFFFFF;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 60px;
        height: 60px;
      }
    }

    h2 {
      margin: 20px 0 0;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
}

.passwordChange-modal {
  display: none;
  flex-direction: column;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);

  &.open {
    display: flex;
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-radius: 8px;
    background-color: #F6A51C;
    padding: 20px 0;
    height: 250px;

    .green-icon {
      width: 75px;
      height: 75px;
      border: 1px solid #FFFFFF;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 60px;
        height: 60px;
      }
    }

    h2 {
      margin: 20px 0 0;
      color: #FFFFFF;
      text-transform: uppercase;
    }
  }
}

.submitted-modal {
  display: none;
  flex-direction: column;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);

  &.open {
    display: flex;
  }

  .card {
    width: 600px;

    &.sm {
      width: 600px;
    }

    &.md {
      width: 840px;
      @media only screen and (max-width: $mobileScreenSize) {
        width: 90%;
      }
    }

    .body {
      border-radius: 8px;
      background-image: url('../images/sub.jpeg');
      background-color: grey;
      background-blend-mode: multiply;

      .submitted-header {
        width: 100%;
        background: #42464300;
        border-radius: 8px 8px 15% 15%;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 25px 0 0 0;
        position: relative;

        .green-icon {
          background-color: #4CD964;
          width: 60px;
          height: 60px;
          margin-left: -80px;
          border: 1px solid #FFFFFF;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 50px;
            height: 50px;
            margin: 0;
          }
        }

        img.main-icon {
          width: 90px;
          height: 90px;
          margin-bottom: 30px;
        }

        .ph {
          padding-top: 40px;
          padding-bottom: 40px;
        }

        .title {
          color: lightgreen;
        }

        .def {
          font-size: 12px;
          color: #B2B2B6;
          margin-top: 0;
          margin-bottom: 15px;
        }

        .sub {
          font-size: 14px;
          margin: 15px 0px;
          font-style: italic;
        }
      }

      .info {
        background-color: rgba(151, 49, 49, 0.671);
        margin: -10px 20px 10px 20px;
        margin-top: 15px;
        border-radius: 10px;
        padding: 10px;
        top: 300px;
        right: 300px;
        bottom: 0;
        left: 0;
        box-shadow: 1px 5px 5px #E8E8E8;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .details {
          background-color: #dfc7c6;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h4 {
            margin: 10px 0;
            color: #66100d;
          }

          h2 {
            margin: 5px 0;
          }
        }
      }

      .content {
        padding: 15px 25px;
        align-items: center;
        background-color: #66100dcc;
        margin: 10px;

        p {
          margin-bottom: 20px;
          font-size: 20px;
          font-weight: bolder;
          text-align: center;
          font-weight: 400;
          color:honeydew;

        }

        .direction {
          color: $PrimaryColor;
          font-style: italic;
          cursor: pointer;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
            color:greenyellow;
          }
        }
      }
    }

    .footer {
      margin-top: 10px;
      width: 100%;
      border-radius: 8px;
      color: black;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;

      .left {
        display: flex;
        flex-direction: row;
        flex: 2;
        border-radius: 8px;
        margin-right: 10px;
        background-color: white;

        .quantity {
          margin: 0 10px 0 10px;
          display: flex;
          flex: 1;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          .plus-minus-icon {
            display: block;
            width: 16px;
            height: 16px;
            cursor: pointer;
            background-color: #F9F9FE;
            border-radius: 100%;
            padding: 5px;
          }
        }

        .price {
          flex: 1;
          align-items: center;
          justify-content: center;
          color: $PrimaryColor;

          h3 {
            text-align: center;
          }
        }
      }

      .right {
        display: flex;
        flex: 1;
        justify-content: center;
        border-radius: 25px;
        //background: #f6a315 linear-gradient(to right, rgba(255, 255, 255, .20), transparent);
        background-color: #66100d;
        color:rgb(233, 117, 8);
        font-size: 17;
        font-weight: 600;
        border: 1px solid #F7B23D;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: #66100d;
        }

        h3 {
          margin: 10px;
          text-transform: uppercase;
        }

        .title {
          margin: 15px;
        }
      }


      .right-2 {
        display: flex;
        flex: 1;
        justify-content: center;
        border-radius: 25px;
        margin-right: 10px;
        border: 1px solid #F7B23D;
        //background: #f6a315 linear-gradient(to right, rgba(255, 255, 255, .20), transparent);
        background-color: rgb(233, 117, 8);
        cursor: pointer;

        &:hover {
          background-color: white;
          color:#66100d;
        }

        h3 {
          margin: 10px;
          text-transform: uppercase;
          color: #66100d;
        }

        .title {
          margin: 15px;
        }
      }

      .ph {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }
}

.modal {
  display: none;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 30px;
  justify-content: center;
  //align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;

  &.also{
    z-index: 9999;
  }

  @media only screen and (max-width: $mediumScreenSize) {
    .header {
      .sub {
        padding: 0 10px;
      }
    }
    .body {
      width: 90% !important;

      .content {
        max-height: 55vh;
        overflow-y: auto;
        display: block !important;

        &.also-list{
          display: flex !important;
        }

        &.row-space-between{
          background-color: $GreyBackgroundColor;
          display: flex !important;
          padding:0;
        }

        .vertical-line{
          display: none;
        }
        .option {
          background-color: #FFFFFF;
          border-radius: 8px;
          width: 100%;
          display: grid;
          place-items: center;
          padding: 20px;
          margin: .5em .5em;
        }
      }
    }
    .footer {
      .right {
        font-size: 15px !important;
      }
    }
  }

  &.open {
    display: flex;
  }
  .hotsale-card {
    width: 300px;
    height: 280px;
    border-radius: 8px;
    background-color: #66100d;
    .hotSale-header {
      background-color: #dfc7c6;
      border-radius: 4px;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      padding: 20px 60px 50px;
      .title {
        color: Black;
        text-decoration: underline overline;
        font-size: 24px;
        text-align: center;
      }
    }
    .oops-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      background-color: #FF3E32;
      border-radius: 4px;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      padding: 20px 60px 50px;
      >img{
        align-self: center;
        width: 60px;
        height: 60px;
      }
      .title {
        color: #FFFFFF;
        font-size: 24px;
        text-align: center;
      }
    }
    .details {
      background-color: rgb(114, 95, 95);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      text-align: center;
      >p{
        font-size: 15px;
        color: honeydew;
      }
      .ok-button{
        background-color: #66100d;
        color:rgb(233, 117, 8);
        font-size: 17;
        font-weight: 600;
        width: 158px;
        border-radius: 25px;
        border: 1px solid #F7B23D;
        padding: 10px 40px;
        border-radius: 20px;
        cursor: pointer;

        p{
          color: rgb(233, 117, 8);
          margin:0;
        }

        &:hover{
          background-color: white;
          color: #66100d;
        }
      }
    }
  }
  .body {
    width: 440px;
    border-radius: 8px;
    &.sm {
      width: 440px;
    }

    &.md {
      width: 670px;
    }

    &.lg {
      width: 750px;
    }

    .header {
      width: 100%;
      background: #695b5b linear-gradient(to right, rgba(255, 255, 255, .20), transparent);
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px 0;
      position: relative;
      

      img.main-icon {
        width: 90px;
        height: 90px;
        margin-bottom: 30px;
        border-radius: 60px;
    
      }

      .ph {
        width: 90px;
        padding-top: 40px;
        padding-bottom: 40px;
      }

      .title {
        margin: 0;
        text-transform: uppercase;
        text-decoration: overline underline;
      }

      .sub {
        margin-top: 15px;
        margin-bottom: 0;
        padding: 0 15px;
        text-align: center;
      }
      .option{
        position: relative;
        text-transform: uppercase;
        margin:0 20px;
        font-size: 15px;
        top: 25px;
        cursor: pointer;
        &.selected{
          border-bottom: rgb(233, 117, 8) solid 3px;
          font-weight: bold;
        }
      }
    }

    .white-header {
      width: 100%;
      background: #dfc7c6;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      color: rgb(233, 117, 8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px 0 0 0;
      position: relative;

      img.main-icon {
        width: 90px;
        height: 90px;
        margin-bottom: 30px;
      }
      .ph {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      h3{
        margin:0;
        animation: move 3s;
        -webkit-animation: move 3s;
        
        
        @keyframes move {
          from {
            margin-right: 50%;
            width: 50%; 
          }
        
          to {
            margin-left: 72%;
            width: 100%;
          }
        
        }
      }

      .title {
        margin: 0;
        color: $PrimaryColor;
      }

      .def {
        font-size: 10px;
        color: #0b0b0c;
        margin-top: 0;
        margin-bottom: 15px;
      }

      .sub {
        font-size: 14px;
        margin: 15px 0px;
        font-style: italic;
      }
       &.grey{
         color: #737377;
         font-style: normal;
       }

      .grey-button{
        margin: 0 10px;
        cursor: pointer;
        background-color: rgb(233, 117, 8);
        font-size: 17;
        font-weight: 600;
        width: 158px;
        color: #66100d;
        border: 1px solid #F7B23D;
        padding: 10px 20px;
        border-radius: 30px;
        text-align: center;

        &:hover{
          background-color: white;
        }
        p{
          font-size: 13px;
          margin:0;
          color: #66100d;

          
        }
      }
      .skip-button{
        font-size: 15px;
        color: rgb(233, 117, 8);
        font-style: italic;
        cursor: pointer;

        &:hover{
          color: white;
        }
      }
    }

    .content {
      padding: 15px 25px;
      display: flex;
      flex-direction: column;
      background-color: #dfc7c6;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;

      &.also-list{
        flex-wrap: wrap;
        padding: 5px 5px;
        flex-direction: row;
        background-color: $GreyBackgroundColor;
      }

      &.centered {
        justify-content: center;

        p{
          font-size: 15px;
          margin:3px 0;
          flex:1;
          padding-right: 40px;
          &.bold{
            font-weight: bold;
          }
        }
      }
      .left-text{
        text-align: end;
      }
      &.halfHalf {
        flex-direction: row;
        padding: 0;
      }
      &.row-space-between{
        flex-direction: row;
        justify-content: space-evenly;
        cursor: pointer;
      }
      .option{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        &:hover{
          .delivery{
            background-color: $PrimaryColor;
            .delivery-icon{
              color: #FFFFFF;
            }
          }
          h4{
            color: $PrimaryColor;
          }
        }
        .delivery{
          position: relative;
          width: 120px;
          height: 120px;
          display: grid;
          place-items: center;
          background-color: #F9F9FE;
          border-radius: 60px;
          .delivery-icon{
            width: 60px;
            height: 60px;
            color:#737377;
          }
        }
        .time{
          color:#939398;
          font-style: italic;
        }
        .open{
          position: absolute;
          background-color: #4cd964;
          color: white;
          text-align: center;
          padding: 3px 40px;
          border-radius: 3px;
          bottom: 0;
        }
        p{
          margin:0;
        }
        h4{
          font-size: 20px;
          margin:10px;
        }
      }
      .left {
        display: flex;
        flex-direction: column;
        background-color: #EFEFF4;
        border-bottom-left-radius: 8px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        flex: 1;

        .list {
          width: 100%;
          height: 350px;
          overflow: auto;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 10px;

        &:hover {
          background-color: #FFFFFF;
          color: #66100d; 
        }

        .product-title {
          text-align: center;
          text-transform: uppercase;
          padding: 10px;
          padding-bottom: 20px;
        }
      }

      .empty {
        color: $SecondaryText;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        img {
          width: 160px;
          height: 160px;
        }
      }

      .details {
        display: flex;
        justify-content: space-around;
        @media only screen and (max-width: $mobileScreenSize) {
          display: block;
        }

        .part1 {
          flex: 1;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 20px 0px;
          @media only screen and (max-width: $mobileScreenSize) {
            display: flex;
            justify-content: space-between;
            padding: 0px;
          }

          img {
            width: 30px;
            height: 30px;
          }

          h3 {
            color: $PrimaryColor;
            margin: 0;
          }

          h2 {
            margin: 0;
          }

          p {
            margin: 0;
            font-size: 12px;
            font-weight: 400;
          }
        }

        .part {
          flex: 1;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 20px 0px;

          img {
            width: 30px;
            height: 30px;
          }

          h3 {
            color: $PrimaryColor;
            margin: 0;
          }

          h2 {
            margin: 0;
          }

          p {
            margin: 0;
            font-size: 12px;
            font-weight: 400;
          }
        }
      }

      .payment {
        justify-content: center;

        .method {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid $GreyBackgroundColor;
          cursor: pointer;
          margin: 30px 0px 0px 0px;

          h4 {
            margin: 0;
            flex: 1;
          }

          .cash-icon {
            background-color: #A6A6AB;
            border-radius: 20px;
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;

            img {
              height: 20px;
              width: 20px;
            }
          }

          .green-icon {
            background-color: #4CD964;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &.non-selected{
              background-color: #D8D8D8;
            }

            img {
              width: 25px;
              height: 25px;
              margin: 0;
            }
          }
        }

        h2 {
          padding-top: 60px;
          margin: 0;
          flex: 1;
          color: $PrimaryColor;
          text-align: center;
        }
      }

      input {
        margin-top: 15px;
        flex: 1;
        border: 0;
        border-radius: 10px;
        padding: 10px;
        background-color: $GreyBackgroundColor;
        font-style: italic;
        font-size: 12.5px;
        @media only screen and (max-width: $mobileScreenSize) {
          font-style: normal;
        }

        &.no-margin {
          height: 20px;
          margin-top: 0 !important;
          padding: 0 !important;
          background-color: transparent !important;
        }

        &:focus {
          outline: none
        }
      }

      .field-container {
        margin-bottom: 10px;
      }
    }

    .footer {
      margin-top: 10px;
      margin-bottom: 30px;
      width: 100%;
      border-radius: 8px;
      color: rgb(233, 117, 8);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;

      .left {
        display: flex;
        flex-direction: row;
        flex: 2;
        border-radius: 8px;
        margin-right: 10px;
        background-color: #66100d;

        &.back {
          flex: 1;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        h3 {
          text-align: center;
          margin: 10px;
        }

        .quantity {
          margin: 0 10px 0 10px;
          display: flex;
          flex: 1;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          .plus-minus-icon {
            display: block;
            width: 16px;
            height: 16px;
            cursor: pointer;
            background-color: #F9F9FE;
            border-radius: 100%;
            padding: 5px;
          }
        }

        .price {
          flex: 1;
          align-items: center;
          justify-content: center;
          color: $PrimaryColor;

        }
      }

      .right {
        display: flex;
        flex: 1;
        justify-content: center;
        border-radius: 25px;
        color: rgb(233, 117, 8);
        background-color: #66100d;
        border: 1px solid #F7B23D;
        font-size: 17;
        font-weight: 600;
        //background: #f6a315 linear-gradient(to right, rgba(255, 255, 255, .20), transparent);
        cursor: pointer;

        &.off{
          background: #D8D8D8;
          cursor: default;
        }

        &:hover{
          color: #66100d;
          background-color: white;
        }

        h3 {
          margin: 10px;
          text-transform: uppercase;

          &:hover{
            color: #66100d;
            background-color: white;
          }
        }

        .title {
          margin: 15px;
        }
      }

      .ph {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }
}

.field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $GreyBackgroundColor;
  border-radius: 30px;
  padding : 0 20px;
  font-size: 16px;
  height: 48px;
  position: relative;
  text-align: left;
  text-align: left;

  >div{
   flex:1
  }
  img {
    width: 18px;
    height: 18px;
    margin-right: 15px;
    opacity: 0.8;
    color: black;
  }

  input {
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 0;
    height: 48px;

    &::placeholder {
      font-style: italic;
      text-transform: uppercase;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 158px;
  color: rgb(233, 117, 8);
  background-color: #66100d !important;
  background: linear-gradient(to right, rgba(255, 255, 255, .20), transparent);
  border-radius: 25px;
  font-size: 17;
  font-weight: 600;
  text-align: center;
  font-weight: 600;
  border: 1px solid #F7B23D;
  cursor: pointer;

  &:hover{
    color:white;
    text-decoration: underline;
    background:rgb(211, 224, 16);

  }

  &:active {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), transparent);
  }
}

.sub-link {
  margin-top: -30px;
  color: rgb(233, 117, 8);
  text-decoration: underline;
  cursor: pointer;
  margin-left: 160px;

  &:hover{
    color: #66100d;
  }

  &.center {
    text-align: center;
  }
}

.hr {
  height: 1px;
  background-color: #EEEEEE;
  margin: 10px 0 15px 0;
}

.ph-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.group-header {
  margin-bottom: 5px;
  font-size: 16px;
  color: rgb(233, 117, 8);
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background-color: rgb(80, 7, 7);
  margin-bottom: 10px;
}

.vertical-line {
  margin: 10px;
  width: 1px;
  background-color: #DDD;
}

.product-options {
  display: flex;
  flex-wrap: wrap;
}

.product-option-checkbox {
  display: flex;
  width: 20%;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: 0px;
  justify-content: end;

  .lala {
    margin: 15px;
    margin-bottom: 3px;
    margin-left: -3px;
  }

  p {
    margin: 15px;
    margin-bottom: 0px;
    font-size: 25px;
    margin-left: 100px;

  }
  

  div {
    display: flex;

    .checkbox {
      margin: 15px;
      margin-bottom: 50px;


      &:first-child {
        width: 20px;
        height: 20px;
        background-color: white;

        &.active {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: $PrimaryColor;
          border: 1px solid $PrimaryColor;

          .tick-icon {
            display: block;
            width: 14px;
            height: 14px;
          }
        }

        &.non-active {
          border: 1px solid #cccccc;
        }
      }
    }

    .check-circle {
      margin-right: 10px;
      border-radius: 100px;


      &:first-child {
        width: 20px;
        height: 20px;
        background-color: white;

        &.active {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: $PrimaryColor;
          border: 1px solid $PrimaryColor;

          .tick-icon {
            display: block;
            width: 14px;
            height: 14px;
          }
        }

        &.non-active {
          border: 1px solid #cccccc;
        }
      }
    }
  }
}

.cc {
  display: flex;
  width: 20%;
  flex-direction: row;
  margin-right: 20px;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  justify-content: end;




   p {
    margin-bottom: 0px;
    font-size: 15px;
    margin-left: 30px;



   }
}


.product-item {
  display: flex;
  align-items: center;
  padding: 0.25em;
  background-color: rgba(139, 0, 0, 0.719);
  cursor: pointer;
  border-radius: .5rem;
  margin-left: 5px;
  margin-right: 20px;
  box-shadow: 10px 5px 5px white;
  margin-top: 5px;
  //height: 200px;

  &.halfList {
    box-shadow: none;
    margin-bottom: 10px;
    align-items: flex-start;
    border-radius: .2rem;
  }

  &.also-item {
    margin: 5px;
    flex-direction: column;
    padding: .5em;
  }

  .product-image {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    &.extra-margin{
      margin: 20px 0;
    }
  }

  .also-product-image{
    width: 135px;
    height: 135px;
    //border-top-left-radius: .5rem;
    //border-top-right-radius: .5rem;
  }

  .halfProduct-image {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: 10px;
  }

  .product-info {
    text-align: left;
    margin-left: 10px;
    padding: 1.25rem 0rem;
    flex: 1;

    &.halfHalf-info {
      padding: .5rem 0rem;
    }

    &.also-info {
      display: flex;
      padding: 0.25rem 0rem;
      width: 135px;
      flex-direction: column;
      .name{
        flex:1;
        font-weight: normal;
      }
    }

    .bottom {
      justify-content: space-between;
    }

    .name {
      text-transform: uppercase;
      margin: 0 0 12px 0;
    }

    .description {
      color: $SecondaryText;
      font-size: 14px;
      margin: 8px 0;
      height: 60px;
    }

    > div {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      p {
        font-weight: 500;
        margin: 0 5px 0 0;
        color: $PrimaryColor;
      }

      img {
        width: 20px;
        height: 24px;
      }

      .price {
        align-items: end;
      }
    }
  }
}


.order-content {
  width: 100%; 
  display: flex; 
  flex-direction: column;
  background-color: darkred;
  margin-top: 45px;
  border-radius: 10px;

  .smoody {
      width: 35px;
      height: 25px; 
      display: flex;
      position: relative;
      top: -35px;
      left: 310px;
      margin-left: -20px;

    }

  .items {
    overflow: scroll;
    max-height: 230px;
    padding: 10px 0px 0px 0px;
  }

  .items::-webkit-scrollbar {
    width: 0;
  }

  .empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 0px;

    img {
      height: 175px;
      width: 175px;
      margin: 5px 0 5px 0;
    }


    p {
      font-size: 15px;
      font-weight: 500;
      color: rgb(233, 117, 8);
    }
  }

  h4 {
    text-align: center;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
    color: rgb(233, 117, 8) !important;
    padding: 1.5rem 0 0.5rem 0;
  }

  .details {
    width: 100%;
    position: relative;

    .edit {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: -15px;

      .quantity {
        display: none;
      }

      .right {
        display: none;
      }

    }

    &:hover {
      .product {
        background-color: $GreyBackgroundColor;
      }

      .quantity {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FFFFFF;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;

        img {
          display: block;
          width: 16px;
          height: 16px;
          cursor: pointer;
          padding: 5px;
        }
      }

      .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #FFFFFF;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;

        img {
          display: block;
          width: 16px;
          height: 16px;
          cursor: pointer;
          padding: 5px;
        }
      }
    }


    .product {
      padding: 10px 10px;

      .item {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        p {
          margin: 0;
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      .item-details {
        div {
          display: flex;
          justify-content: space-between;

          p {
            font-size: 20px;
            color: #110f0f;
            margin: 2px 0;
          }
        }
      }

    }


  }

  .fees {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;

    p {
      font-size: 20px;
      font-weight: 700;
      color: rgb(233, 117, 8);
      text-transform: uppercase;
    }
  }

  .coupon-bar {
    background-color: rgba(165, 42, 42, 0.096);
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 10px 20px;
    font-size: 16px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .apply {
      padding: 0 10px;

      p {
        font-size: 14px;
        font-weight: 700;
      }

      cursor: pointer;
    }

    input {
      font-size: 20px;
      width: 100%;
      border: 0;
      background-color: rgba(165, 42, 42, 0);
      font-style: italic;

      &:focus {
        outline: none
      }
    }

    > img {
      width: 27px;
      height: 33px;
      padding-right: 10px;
    }

  }

  .total {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;

    h2 {
      color: rgb(233, 117, 8);
      text-transform: uppercase;
    }
  }

  .checkout-button {
    display: flex;
    width: 100%;

    button {
      flex: 1;
      margin: 10px 10px;
      padding: 12px;
      border: 0;
      border-radius: 25px;
      font-size: 14px;
      font-weight: 600;
      color: rgb(233, 117, 8);
      background-color: lightgoldenrodyellow;
      text-decoration: none;
      text-align: center;

      &:hover {
        background-color: darkorange;
        color: rgb(15, 13, 13);
        border: 1px solid lightgoldenrodyellow;
        margin: 9px 9px;
        padding: 11px;

      }
    }
  }

  .payment-method {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 12px;
      font-weight: 600;
      color: rgb(233, 117, 8);
      font-style: italic;
    }

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(233, 117, 8);
      width: 70px;
      height: 25px;

      .cash {
        width: 35px;
        height: 25px;
      }

      .cart {
        width: 35px;
        height: 25px;
      }
    }
  }
}

.bt-alert {
  background-color: #F8D7DA;
  width: 100%;
  border: solid 1px #F5C6CB;
  border-radius: 20px;
  margin-bottom: 10px;

  > h3 {
    margin: 5px;
    padding: 5px 20px;
    font-size: 16px;
    color: #9B1C24;
    font-weight: 500;
  }
}

.alert-text{
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #ff2525;
  font-weight: 500;
}

.field-padding {
  padding: 20px;
}

.check-register-toggle {
  display: flex;
  justify-content: space-between;
}

.product-option-icon-div {
  display: flex;
  cursor: pointer;
  margin: 5px 5px 14px 5px;
  padding: 12px 0px;

  p {
    margin: 0
  }

  div {
    display: flex;

    .checkbox {
      margin-right: 10px;
      border-radius: 5px;


      &:first-child {
        width: 20px;
        height: 20px;
        background-color: white;

        &.active {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: $PrimaryColor;
          border: 1px solid $PrimaryColor;

          .tick-icon {
            display: block;
            width: 14px;
            height: 14px;
          }
        }

        &.non-active {
          border: 1px solid #cccccc;
        }
      }
    }

    .check-circle {
      margin-right: 10px;
      border-radius: 100px;


      &:first-child {
        width: 20px;
        height: 20px;
        background-color: white;

        &.active {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: $PrimaryColor;
          border: 1px solid $PrimaryColor;

          .tick-icon {
            display: block;
            width: 14px;
            height: 14px;
          }
        }

        &.non-active {
          border: 1px solid #cccccc;
        }
      }
    }
  }
}

.fullScreenOverlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;

  &.center {
    justify-content: center;
    align-items: center;
  }
}

top-banner
.select-language-dropdown {
  width: 100px;
  height: 23px;
  margin: 0px 20px;
}

.icon-myaccount {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
}


.loader-login {
  display: flex;
  justify-content: center;
}

.loader-login-password {
  display: flex;
  justify-content: center;
  width: 100%;
}

.activeCategoryLink > button {
  font-weight: 900 !important;
  color: $PrimaryColor !important
}

.acount-part-orders .order {
  position: relative !important;
  width: 100% !important;
  background-image: url('../images/pizza.jpg');
  background-color: grey;
  background-blend-mode: multiply;
  
}

.acount-part-orders {
  width: 30% !important;
 
}

.acountPageDiv .left-card {
  margin-right: 12px !important;
}

.acountPageDiv {
  width: 86% !important;
  @media only screen and (max-width: $largeScreenSize) {
    width: 100% !important;

  }
}

.headerNotVisible {
  opacity: 0;
  display: none;
}

.headerStickyNotVisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s linear;
}

.headerOpacityVisible {
  opacity: 1;
  transition: ease 0.7s;
}

.logoStickyNav {
  max-height: 50px;
  padding: 40px 0px 0px 0px;
  @media only screen and (max-width: $largeScreenSize) {
    padding: 0px;
  }
  @media only screen and (max-width: $mediumScreenSize) {
    padding: 0px;
  }
}

.error_message {
  font-style: italic;
  display: block;
  top: 20px;
  margin-top: -20px;
  left: 20px;
  position: relative;
  z-index: 1;
  font-size: 10px;
  color: #ff4343;
  position: absolute;
}

.imageIconCross {
  width: 20px;
  height: 20px;
  display: none;
  padding: 0px 30px 0px 0px;
  @media only screen and (max-width: $mobileScreenSize) {
    display: block;
  }
}

.orderDetailsModal {
  display: none;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 30px;
  justify-content: center;
  //align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;

  @media only screen and (max-width: $mobileScreenSize) {
    .header {
      .sub {
        padding: 0 10px;
      }
    }
    .body {
      width: 350px;

      .content {
        max-height: 55vh;
        overflow-y: auto;
        display: block !important;
      }
    }
    .footer {
      .right {
        font-size: 15px !important;
      }
    }
  }

  &.open {
    display: flex;
  }

  .body {
    width: 450px;
    border-radius: 8px;

    &.sm {
      width: 350px;
    }

    &.md {
      width: 450px;
      @media only screen and (max-width: $mobileScreenSize) {
        width: 310px
      }
    }

    &.lg {
      width: 450px;
    }

    .header {
      width: 100%;
      background: #f6a315 linear-gradient(to right, rgba(255, 255, 255, .20), transparent);
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px 0;
      position: relative;
      

      img.main-icon {
        width: 90px;
        height: 90px;
        margin-bottom: 30px;

      }

      .ph {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      .title {
        margin: 0;
      }

      .sub {
        margin-top: 15px;
        margin-bottom: 0
      }
    }

    .white-header {
      width: 100%;
      background: #dfc7c6;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      color: #66100d;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      img.main-icon {
        width: 90px;
        height: 90px;
        margin-bottom: 30px;
      }

      .ph {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      .dateData {
        width: 100%;
        padding: 10px 0px 0px 30px;
        font-size: 0.9rem;
        font-style: italic;
        

        p {
          color: rgb(233, 117, 8);
          margin: 6px 0px;
        }

        h5 {
          font-size: 14px;
          font-weight: 600;
          margin: 0px 0px 5px 0px;
        }

        .preparingOrderDetail {
          display: flex;
          justify-content: space-between;
          width: 50%;
          padding: 0px 0px 10px 0px;
          @media only screen and (max-width: $mobileScreenSize) {
            width: 70%;
          }

          h2 {
            margin: 0px;
            font-size: 2rem;
          }

          p {
            background-color: #eb912c;
            width: fit-content;
            color: #66100d;
            margin-top: 0px;
            border-radius: 4px;
            font-weight: 700;
            font-size: 12px;
            border: 1px solid #F7B23D;
            padding: 5px;
            margin-left: 150px;
            margin-right: auto;
            text-align: center;
            
          }

        }

        .orderDetailsTimeDate {
          display: flex;
          justify-content: space-between;
          padding: 0px 130px 0px 0px;
          @media only screen and (max-width: $mobileScreenSize) {
            padding: 0px 30px 0px 0px;
          }

          .orderTimeDataP {
            color: black;
            font-size: 14px;
            font-weight: 700;
          }
        }

        .orderDetailsLittleItaly {
          display: flex;
          justify-content: space-between;
          padding: 0px 295px 0px 0px;
          @media only screen and (max-width: $mobileScreenSize) {
            padding: 0px 80px 0px 0px;
          }

          .orderTimeDataP {
            color: black;
            font-size: 14px;
            font-weight: 700;
          }
        }

      }

      .title {
        margin: 0;
        color: $PrimaryColor;
      }

      .def {
        font-size: 20px;
        color: #B2B2B6;
        margin-top: 0;
        margin-bottom: 15px;
      }

      .sub {
        font-size: 14px;
        margin: 15px 0px;
        font-style: italic;
      }

      .orderDetailSection {
        width: 88%;

        h2 {
          color: rgb(233, 117, 8);
          text-transform: uppercase;
          text-align: center;
        }

        .orderDetailsCart {
          .orderDetailCode {
            margin: 0px;
            color: #66100d;
            padding: 0px 0px 10px 0px;
          }

          div {
            display: flex;
            justify-content: space-between;
            margin: 1px;

            p {
              font-weight: 700;
              font-size: 13px;
              text-transform: uppercase;
            }
          }

          .orderDetailTotalCart {
            color: #66100d;

            p {
              font-size: 16px;
            }
          }
        }

        .tableOrderDetail {
          padding: 0px 0px 20px 0px;

          h3 {
            color:rgba(7, 7, 7, 0.801)
          }

          div {
            display: flex;
            justify-content: end;
          }

          h2 {
            color: #6b7b80;
            font-size: 13px;
            width: 85px;
            text-transform: lowercase;
            display: flex;
            margin: 3px;
            font-style: italic;
          }

          p {
            margin: 3px;
            font-weight: 700;
            letter-spacing: -0.4px;
            font-size: 13px;
          }
        }
      }
    }

    .footer {
      margin-top: 10px;
      margin-bottom: 30px;
      width: 100%;
      border-radius: 25px;
      border: 1px solid #F7B23D;
      color: black;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;

      .left {
        display: flex;
        flex-direction: row;
        flex: 2;
        border-radius: 8px;
        margin-right: 10px;
        background-color: white;

        h3 {
          text-align: center;
          margin: 10px;
        }

        .quantity {
          margin: 0 10px 0 10px;
          display: flex;
          flex: 1;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          .plus-minus-icon {
            display: block;
            width: 16px;
            height: 16px;
            cursor: pointer;
            background-color: #F9F9FE;
            border-radius: 100%;
            padding: 5px;
          }
        }

        .price {
          flex: 1;
          align-items: center;
          justify-content: center;
          color: $PrimaryColor;

        }
      }

      .right {
        display: flex;
        flex: 1;
        font-size: 17;
        font-weight: 600;
        width: 158px;
        justify-content: center;
        border-radius: 25px;
        color:rgb(233, 117, 8);
        background-color: #66100d;
        border: 1px solid #F7B23D;
        //background: #f6a315 linear-gradient(to right, rgba(255, 255, 255, .20), transparent);
        cursor: pointer;

        h3 {
          margin: 10px;
          text-transform: uppercase;
        }

        .title {
          margin: 15px;
        }
      }

      .ph {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
  }
}



.row {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-content: center;
 // border: 2px solid #66100d;
}
.formIconUpdateDiv {
  display: flex;
  justify-content: space-between;
}

.formIconUpdate {
  width: 26px;
  height: 26px;
  padding: 30px 0px 0px 0px;
  color: #F6A332;
  cursor: pointer;
}

.userUpdateInput {
  background-color: #EFEFF4;
  width: 100%;
  height: 25px;
  border-radius: 25px;
  border: solid 0px;
  padding: 20px 0px 10px 60px;
  font-size: 14px;
  font-weight: bold;
  @media only screen and (max-width: $smallScreenSize) {
    width: 150px;
  }
}

.userUpdateInput::placeholder {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.userUpdateInput:focus {
  outline: none;
}

.userUpdateP {
  position: absolute;
  padding: 0px 0px 34px 60px;
  color: #A6A6AB
}

.userUpdateIcon {
  background-color: #EFEFF4;
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 10px 0px 10px 16px;
  color: #A6A6AB;
}

.userUpdateSubmitBtn {
  width: 200px;
  background-color: #F6A61E;
  color: white;
  height: 43px;
  border: 0px;
  border-radius: 25px;
  margin: 0px 5px 0px 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.userUpdateCancelBtn {
  width: 200px;
  background-color: white;
  color: black;
  height: 43px;
  border: 1px solid #F6A61E;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.userPersonalInfo {
  padding: 10px;
  display: flex;
  flex: 1 1;
  align-items: center;
}

.address {
  background: #f7f8f9;
  border: 1px solid #e6e9eb;
  border-radius: 12px;
}

.billing-header {
  padding: 1em 1em 0px 1em;
}

.address-form {
  padding: 1em;
  border-radius: 3px;
}

.address-form * {
  box-sizing: border-box;
}

.address-form input {
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.8em;
  padding: 0.5em;
}

.address-form input[type="text"] {
  width: 100%;
  height: 40px;
}

.address-label {
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.1s ease-out;
  white-space: nowrap;
  font-size: 0.81em;
  font-weight: 400;
  line-height: 13px;
  padding-bottom: 5px;
}

.address-input {
  display: inline-grid;
  width: 100%;
}

.address-input:first-child {
  padding-right: 4px;
}

.address-input:last-child {
  padding-left: 4px;
}

.address-input.full-width {
  padding-left: 0px;
  padding-right: 0px;
}

.address-line {
  padding: 4px;
  display: flex;
  flex-direction: row;
}

.address-line4 div {
  width: 33.3%;
}

.customer-form {
  width: 100%;
  max-width: 610px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1076px) {
  .customer-form {
    align-self: center;
    max-width: 610px;
  }
}

.address-label {
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.1s ease-out;
  white-space: nowrap;
  font-size: 0.81em;
  font-weight: 400;
  line-height: 13px;
  padding-bottom: 5px;
}

//.activeCategoryLink .nav-indecator{
//  display: block !important;
//}
//.nav-indecator {
//  display: none;
//  top: 0;
//  right: 0px;
//  margin-top:16px;
//  border-radius: 0 5px 5px 0;
//  z-index: 1;
//  width: 8px;
//  height: 80px;
//  background: #f6a315 !important;
//  color: #f6a315 !important;
//  margin: 0px 0px 0px 229px;
//}
